img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    justify-content: center;
}

.logo {
    height: 70px;
    width: 140px;
    object-fit: fill;
}