* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 90px 0px 300px 0px;
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 50px;
}

main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-menu {
    background-color: #c4170c;
    /* vermelho g1 */
    color: #fff;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu-text {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    font-weight: bold;
    font-size: 45px;
    margin-left: 10px;
}

.title {
    font-size: 40x;
    font-weight: normal;
    padding-right: 170px;
}

.right {
    display: flex;
    align-items: center;
}

.material-icons {
    font-size: 50px;
    cursor: pointer;
}

.caixa-titulo {
    width: 900px;
    margin: 0 auto;
}


.titulo {
    font-size: 55px;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.856);
}

.subtitulo {
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
}

.autor {
    font-size: 18px;
    color: #535252;
    font-weight: bold;
    margin-bottom: 10px
}

.subautor {
    color: #c4170c;
    text-decoration: none;
}

.data {
    font-size: 17px;
    color: #777;
    margin-top: 10px;
}

.caixa-botoes,
.resumo,
.texto-reportagem-1 {
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-top: 40px;
}


.botao-compartilhar,
.botao-facebook,
.botao-whatsapp {
    border: none;
    padding: 18px 135px;
    font-size: 20px;
    border-radius: 18px;
    cursor: pointer;
    transition: filter 0.2s ease, transform 0.1s ease;

}

.botao-facebook:hover,
.botao-whatsapp:hover,
.botao-compartilhar:hover {
    filter: brightness(0.9);
    /* escurece levemente */
}

/* feedback de clique */
.botao-facebook:active,
.botao-whatsapp:active,
.botao-compartilhar:active {
    transform: scale(0.97);
}

.botao-facebook {
    background-color: #175ef7;
    color: #fff;

}

.botao-whatsapp {
    background-color: #25d366;
    color: #fff;
}

.botao-compartilhar {
    background-color: #8a9184;
    color: #fff;
}


.seta {
    background: #eee;
    border-radius: 6px;
    padding: 4px;
    font-size: 22px;
    cursor: pointer;
}

.resumo {
    font-size: 22px;
    line-height: 1.6;
    color: #333;
    margin-top: 40px;
    border: #c2bfbfd0 1px solid;
    border-radius: 20px;
    padding: 25px;
    font-weight: bold;
}

.caixa-imagem {
    width: 900px;
    margin: 40px auto;
    text-align: left;
}

.caixa-imagem img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;

}

.legenda-imagem {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

.texto-reportagem-1,
.texto2 {
    flex-direction: column;
    font-size: 25px;
    line-height: 1.8;
    color: #333;
}

.assador {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

.highlight {
    color: #c4170c;
    font-weight: bold;
}

.localizacao1 {
    margin-top: 45px;
    font-style: italic;
    font-size: 24px;
}

.bold1 {
    font-weight: bold;
}

.localizacao2 {
    margin-top: 45px;
    font-style: italic;
    font-size: 25px;
}